.introduction {
    margin-top: 10px;
    color: rgb(36, 36, 36);
  }
  
  .first-about-me {
    margin-top: 140px;
    color: rgb(36, 36, 36);
  }

  .background-box {
    background-color: #33333309;
    border-radius: 12px;
  }